<div id="tracker-body">
  <h2>Initiative</h2>
  <div id="init-list" class="container-fluid">
    <div class="list-heading row">
      <div class="list-heading-text pointer col-1"></div>
      <div class="list-heading-text init col-1">Init</div>
      <div class="list-heading-text name col-9">Name</div>
    </div>
    <div class="slot row">
      <div class="pointer col-1"></div>
      <div class="init col-1 text-nowrap" contenteditable="true">Init</div>
      <div class="name col-9 text-nowrap" contenteditable="true" ></div>
    </div>
  </div>
</div>
